* {
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #926239;
  line-height: 1.6;
  background-color: #ffffff;
}

header {

  text-align: center;
  margin: 420px 0px 420px 0px;
  padding-bottom: 4em;
}

h1 {
  font-size: 50px;
  line-height: 0.9;

  text-transform: capitalize;
  padding-bottom: 0.5em;

}

.sub-title {
  font-size: 20px;
  padding-bottom: 1em;


}

p {
  font-size: 17px;

}

a {
  font-size: 18px;
  text-decoration: none;
  text-transform: capitalize;
  color: inherit;
  border: #926239 1px solid;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.linkbut:hover {
  background-color: #926239;
  color: white;
}

.background {
  background-color: #926239;
  color: white;
  padding: 20px;
  margin: 0;
}

.descript {
  color: #926239;
  padding: 20px;
  background-color: #f0edea;
  margin: 0;
}

.grid {
  display: flex;
}